/* Core */
* { box-sizing: border-box; }
body { background-color: #FDFDFD; min-width: 240px; color: #333; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; margin-top: 30px; margin-bottom: 60px; }
h1, h2 { font-weight: 400; display: block; color: #397CAC; }
h1 { font-size: 26px; margin-bottom: 0.5em; line-height: 46px; height: 46px; }
h2 { font-size: 1.5em; margin-bottom: 30px; }
p { line-height: 1.4em; }

/* Generic */
.left { float: left; }
.right { float: right; }
.hidden { display: none; }

/* Layout */
.container { width: 1170px; }
.col-3 { width: 25%; }
.col-6 { width: 50%; }
.col-9 { width: 75%; }
.col-12 { width: 100%; }

.main {
    position: relative;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 70px;
    overflow: auto;
}

.logo {
    opacity: 0.8;
    margin-left: 30px;
    z-index: 1;
    position: absolute;
}

.logo:hover {
    opacity: 1;
}

.input {
    color: rgba(0, 0, 0, 0.44);
    outline: none;
    height: 34px;
    border-radius: 5px;
    font-size: 14px;
    border: 0;
    line-height: 18px;
}

.btn {
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
    text-align: center;
    line-height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: rgba(87, 173, 104, 1);
    border: rgba(87, 173, 104, 1) solid 1px;
    color: white;
}

.btn-secondary {
    border: rgba(0, 0, 0, 0.18) solid 1px;
    color: rgba(0, 0, 0, 0.4);
}

.apply-button {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#info-button {
    background-color: #34495e;
    color: white;
    line-height: 38px;
    height: 38px;
    position: absolute;
    right: 0;
    z-index: 1;
    margin-right: 30px;
    margin-top: 5px;
}

#post-button {
    color: rgba(0, 0, 0, 0.4);
    border: rgba(0, 0, 0, 0.18) solid 1px;
    line-height: 38px;
    height: 38px;
    position: absolute;
    right: 0;
    z-index: 1;
    margin-right: 30px;
    margin-top: 5px;
}

#post-button:hover {
    color: white;
    background-color: rgba(87, 173, 104, 1);
    border: rgba(87, 173, 104, 1) solid 1px;
}

#keyword {
    height: 46px;
    line-height: 46px;
    font-size: 19px;
    background-color: transparent;
    opacity: 0.75;
    display: block;
    width: 100%;
}

#keyword:focus {
    opacity: 1;
}

#keyword:hover {
    opacity: 1;
}

.form-row {
    display: block;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.4;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: #CCC solid 1px;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s 0s ease-in-out, box-shadow 0.15s 0s ease-in-out;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
    float: left;
    padding-left: 20px;
}

.form-group:first-child {
    padding-left: 0;
}

#premium {
    padding: 10px;
    background-color: blue;
}

.payment {
    margin-bottom: 15px;
    color: white;
    padding: 15px;
    border-radius: 5px;
    background: rgb(30, 87, 153);
}



.footer {
    font-size: 12px;
    color: rgba(122, 122, 122, 1);
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(253, 253, 253, 0.8);
    padding-top: 10px;
    padding-bottom: 10px;
}

.results {
    padding-top: 30px;
    font-size: 19px;
}

.job {
    line-height: 30px;
    margin-bottom: 40px;
}

.title a {
    color: #397cac;
    line-height: 25.2px;
    margin-bottom: 14px;
    text-transform: capitalize;
}

.title a:hover {
    color: #205f82;
}

.new.title:after {
    content: "new";
    font-size: 10px;
    color: orange;
    margin-left: 1em;
}

.place {
    color: rgba(161, 161, 161, 1);
    display: block;
}

.posted {
    display: none;
    color: #8d9aa5;
}

.footer p {
    margin-left: 30px;
    float: left;
}

.footer-links {
    display: inline;
    right: 0;
    position: absolute;
    margin-right: 30px;
}

.footer-links li {
    display: inline;
    padding-left: 3px;
    padding-right: 3px;
}

.footer-links li a {
    color: rgba(122, 122, 122, 1);
}

.post-input {
    display: block;
}

.features li {
    width: 20%;
    background-color: gray;
    display: inline-block;
    height: 80px;
}

.button2 {
  height: 34px;
  display: inline-block;
background-color: rgba(87, 173, 104, 1);
border-radius: 4px;
border: 0;
cursor: pointer;
background-image: url("http://4.bp.blogspot.com/-GX7E4j3jwR0/ThMXKjuQ9VI/AAAAAAAAEsE/rJE5Ip1qDEg/s1600/ico-search.png");
background-repeat: no-repeat;
background-position: 50% 50%;
color: transparent;
width: 65px;
}

.input2 {
background-color: rgb(255, 255, 255);
border-bottom-color: rgb(204, 204, 204);
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: rgb(204, 204, 204);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(204, 204, 204);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(204, 204, 204);
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
box-sizing: border-box;
color: rgb(85, 85, 85);
cursor: auto;
display: inline-block;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 14px;
font-weight: normal;
height: 34px;
left: auto;
letter-spacing: normal;
line-height: 20px;
right: auto;
transition-duration: 0.15s, 0.15s;
transition-property: border-color, box-shadow;
transition-timing-function: ease-in-out, ease-in-out;
width: 300px;
margin-right: 20px;
padding-left: 15px;

}

.logo2 {display: block; margin: 0 auto; opacity: 0.8;}

@media (min-width:600px) {
    .place {
        display: inline-block;
        color: rgba(115, 122, 122, 1);
    }

    .place:before {
        content: "at";
        margin-left: 0.3em;
        margin-right: 0.3em;
    }

    .new.place:after {
        content: "new";
        font-size: 10px;
        color: orange;
        margin-left: 1em;
    }

    .new.title:after {
        content: none;
    }
}

@media (min-width:860px) {
    .job {
        margin-bottom: 45px;
    }

    .results {
        font-size: 20px;
        padding-top: 40px;
    }

    #keyword {
        font-size: 20px;
    }

    .main {
        margin-top: 0;
        padding: 0 140px;
    }

    .title {
        display: inline-block;
    }
}

@media (min-width:1200px) {

    .main {
        padding: 0 200px;
    }
}
