* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

html {
    font-size: 100%;
}

body {
    background-color: #FDFDFD;
    min-width: 240px;
    color: #333;
    text-rendering: optimizelegibility;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin-top: 30px;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    display: block;
}

h1 {
    font-size: 2em;
    line-height: 1;
    margin-bottom: .5em;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 30px;
}

#main {
    margin-top: 60px;
    position: absolute;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

.logo {
    opacity: 0.8;
    margin-left: 30px;
    z-index: 1;
    position: absolute;
}

.logo:hover {
    opacity: 1;
}

#post-button {
    color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.18);
    line-height: 38px;
    height: 38px;
    position: absolute;
    right: 0;
    z-index: 1;
    margin-right: 30px;
}

#post-button:hover {
    color: white;
}

/* Inputs */
#keyword {
    height: 44px;
    line-height: 44px;
    font-size: 21px;
    background-color: transparent;
    opacity: 0.75;
    display: block;
}

#keyword:focus {
    opacity: 1;
}

#keyword:hover {
    opacity: 1;
}

.input {
    color: rgba(0, 0, 0, 0.44);
    outline: none;
    height: 34px;
    border-radius: 5px;
    font-size: 14px;
    border: 0;
    line-height: 18px;
}

.testinput {
    width: 100%;
}

.btn {
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
    text-align: center;
    line-height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-secondary {
    border: 1px solid rgba(0, 0, 0, 0.18);
    color: rgba(0, 0, 0, 0.4);
}

.btn-primary {
    background-color: rgba(87, 173, 104, 1);
    border: 1px solid rgba(87, 173, 104, 1);
    color: white;
}

.apply-button {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#premium {
    padding: 10px;
    background-color: blue;
}

input, button, select, textarea {
    font-family: inherit;
}

textarea.form-control {
    height: auto;
}

.form-row {
    display: block;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.col-12 {
    width: 100%;
}

.col-6 {
    width: 50%;
}

.col-9 {
    width: 75%;
}

.col-3 {
    width: 25%;
}

.container {
    width: 1170px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
    float: left;
}

.payment {
    margin-bottom: 15px;
    color: white;
    padding: 15px;
    border-radius: 5px;
    background: rgb(30, 87, 153);
}

.hidden {
    display: none;
}

footer {
    font-size: 12px;
    color: rgba(122, 122, 122, 1);
}


/* results */
.results {
    padding-top: 40px;
    font-size: 18px;
}

.job {
    line-height: 30px;
    margin-bottom: 45px;
    display: block;
}

.title a {
    color: #397cac;
    text-decoration: none;
    font-weight: normal;
    line-height: 25.2px;
    margin-bottom: 14px;
    margin-top: 0px;
}

.title a:hover {
    color: #205f82;
}

.new.title:after {
    content: "new";
    font-size: 10px;
    color: orange;
    margin-left: 1em;
}

.place {
    color: rgba(161, 161, 161, 1);
    display: block;
}

.posted {
    display: none;
    color: #8d9aa5;
}

@media (min-width: 600px) {



    .place {
        display: inline-block;
        color: rgba(115, 122, 122, 1);
    }

    .place:before {
        content: "at";
        margin-left: 0.3em;
        margin-right: 0.3em;
    }

    .new.place:after {
        content: "new";
        font-size: 10px;
        color: orange;
        margin-left: 1em;
    }

    .new.title:after {
        content: none;
    }
}

@media (min-width: 860px) {
    .results {
        font-size: 20px;
    }

    #main {
        margin-top: 0;
        padding: 0px 140px;
    }

    .title {
        display: inline-block;
    }
}

@media (min-width: 1200px) {
    .results {
        font-size: 22px;
    }

    #main {
        padding: 0px 200px;
    }
}

.left {
    float: left;
}

.right {
    float: right;
}

footer p {
    float: left;
}

.footer-links {
    display: inline;
}

.footer-links li {
    display: inline;
}

.post-input {
    display: block;
}
