* { margin: 0; padding: 0;}
a {text-decoration: none;}
body {  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px;}
.wrapper { width: 760px; margin: 0 auto;}
.main { background-color: #F6F6F6; padding-top: 30px;}
.footer {background-color: #E5E5E5; padding-top: 15px; padding-bottom: 15px; text-align: center;}
.logo {height: 35px;}
.button { padding: 10 30; color: white; background-color: #E36B51; border: 0; border-radius: 4px; display: inline-block; margin-bottom: 30px;}
.description {padding-bottom: 30px;}
.header {padding-top: 15px; padding-bottom: 15px;}
.input {width: 100%; margin-bottom: 30; padding: 7px;}
