* { margin: 0; padding: 0; box-sizing: border-box; }
a { text-decoration: none; }
html, body { height: 100%; }
body {  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; color: #555555; background-color: #FDFDFD; }
input, select, textarea, button { font-family:inherit; font-size: inherit; }
a {color: inherit; } 

.main, .header, .footer { padding-left: 20px; padding-right: 20px; }
.main { padding-top: 30px; }
.header {padding-top: 15px; padding-bottom: 15px;}
.footer { padding-top: 15px; padding-bottom: 15px; text-align: center; font-size: 13px; }
.footer ul { list-style-type: none; }
.footer ul li { display: inline; }
.footer.docked { position: absolute; bottom: 0; left: 0; right: 0; }
.wrapper { width: 100%; margin: 0 auto;}
.wrapper.small { max-width: 400px; }
.wrapper.large { max-width: 760px; }
.lightgray { background-color: #F8F8F8; }
.darkgray { background-color: #E5E5E5; }
.left {float: left; }
.right {float: right; }




.logo {height: 35px;}
.button { padding: 10px 30px; color: white; background-color: #E36B51; border: 0px; border-radius: 4px; display: inline-block; margin-bottom: 30px; -webkit-appearance: none; min-height: 34px; min-width: 65px;}
.button.search { background-image: url("/img/search.png"); background-repeat: no-repeat; background-position: 50% 50%; color: transparent; }
.description {padding-bottom: 30px;}

.input {width: 100%; margin-bottom: 30px; padding: 7px; border: 1px solid rgb(204, 204, 204); border-radius: 3px;}


.required:after { color: #e32; content: ' *'; display:inline; }


