body,html{position:relative;margin:0;padding:0;height:100%}
body { font-family:Verdana, Geneva, sans-serif; font-size:10pt; color:#4F4F4F; }
ul { list-style: none; }
a { text-decoration: none; color: inherit;  }
a:hover {     color: #268bd2; }

input, textarea, label { display: block; }
input, textarea { padding: 5px 10px; margin-bottom: 15px; }
label { margin-bottom: 5px; }
.text { width: 300px; }


h1, h2 {display: block; color: #F0652F; }
h1 { font-size: 1.2em; margin-bottom: 1.2em; }
h2 { margin-bottom: 0.6em; margin-top: 0.6em; }
p { display: block; }

.header { padding: 20px; vertical-align: top; }
.header ul {text-align:right;}
.header ul li {display: inline; margin-right: 10px;}
.header ul li:first-child{}
.main {margin-left: 20px; margin-right: 20px; margin-bottom: 20px;}
.footer {margin: 20px;}
.footer ul {text-align:right;}
.footer ul li {display: inline}
.footer ul li:not(:first-child){ margin-left: 10px;}

.adminnav {padding: 20px; color:navy; }
.adminnav ul li {display: inline;}
.adminnav ul li:last-child{float:right}
.adminnav ul li:not(:first-child){ margin-left: 10px;}

.adminlist ul li {margin-top: 20px; margin-bottom: 20px; background-color: white; padding: 20px; border: 1px solid LightGray; border-radius: 4px;}

.home {height: 100%;}
.home span {font-size: 24px; }
.home .logo {height: 50px; padding-top: 50px;}

.candidatelist input {display: inline-block;}
.circle {display: inline-block; height: 8px; width: 8px; border-radius: 50%; margin-left:8px; margin-right:8px;}
.new {background-color: #3498DC;}

.jobtitle {font-size: 16px;}
.nav {
  display: inline-block;
}

.nav li {
  display: inline-block;
}

.nav .inactive {display: none;}
.burger { display: inline-block; font-weight: bold; }

/* Desktop */
@media (min-width: 680px) {
  .nav .inactive {
    display: inline-block;
  }
  .nav .active {     color: #268bd2; }
    .burger {
    display: none;
  }
}
