* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
a {
    text-decoration: none;
}
body {
    background-color: white;
    color: #555555;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1;
}
/* Content */

.wrapper {
    height: 100%;
    height: auto !important;
    margin: 0 auto -45px;
    min-height: 100%;
}
ul li {
    list-style: none;
}
.ie #listings li.even-child,
#listings li:nth-child(even) {
    background-color: #fcfcfc;
}
/* Footer */

.footer {
    padding: 0 20px;
}
.footer,
.push {
    height: 45px;
    line-height: 45px;
}
.footer p {
    float: left;
}
.footer ul {
    float: right;
}
.footer ul li {
    display: inline-block;
    padding-left: 8px;
}
#listings {
    clear: left;
}
#listings li>a {
    display: block;
    overflow: hidden;
    padding: 17px 11px;
    color: #222;
    padding: 16px 13px 12px 13px;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}
#listings li>a>span {
    min-height: 37px;
    display: block;
    position: relative;
}
#listings li img {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 21px;
    left: 0;
}
#listings li .role h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 4px;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 0;
    width: 76%;
}
#listings li .role h4 {
    font-size: 12px;
    display: inline;
    font-weight: normal;
    color: #888;
    position: absolute;
    top: 21px;
    left: 21px;
    max-width: 45%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#listings li .role>span {
    padding-left: .5em;
    color: #888;
    display: none;
}
#listings li .meta .posted {
  color: #888;
  display: none;
}
#listings li .location {
    color: #888;
    position: absolute;
    top: 21px;
    right: 0;
    text-align: right;
    max-width: 45%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#listings li .meta {
    float: right;
    text-align: right;
}
#listings li .meta .type {
    display: block;
    margin-bottom: 2px;
}
#listings li.full-time .type {
    color: #e68a20;
}
#listings li .meta .new {
    display: none;
}
@media only screen and (min-width: 1040px) {
        .content {
    margin-left: 200px;
    margin-right: 200px;
}
    #listings {
        border-top: 1px solid #e5e5e5;
        margin-top: 28px;
    }
    #listings li .role {
        margin-right: 20px;
    }
}
@media only screen and (min-width: 768px) {
    .content {
    margin-left: 20px;
    margin-right: 20px;
}
    #listings li .meta .new,
    #listings li .meta .posted {
        display: inline;
    }
    #listings li .meta {
        position: relative;
        top: -1px;
    }
    #listings li .location {
        float: left;
        width: 145px;
        padding: 7px 0 7px 13px;
        position: relative;
        top: auto;
        left: auto;
        text-align: left;
        max-width: none;
        white-space: normal;
        overflow: visible;
    }
    #listings li img {
        width: 32px;
        height: 32px;
        float: left;
        margin-right: 13px;
        position: static;
        top: auto;
        left: auto;
    }
    #listings li .role>span {
        display: inline;
    }
    #listings li .role {
        float: left;
        width: 350px;
        margin-right: 12px;
        position: relative;
        top: -3px;
    }
    #listings li .role h3 {
        position: static;
        top: auto;
        left: auto;
        width: auto;
    }
    #listings li .role h4 {
        font-weight: 600;
        color: #222;
        position: static;
        top: auto;
        left: auto;
        max-width: none;
        white-space: normal;
        overflow: visible;
    }
}
