* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding-top: 56px;
    color: #555555;
}
input,
select,
textarea,
button {
    font-family: inherit;
    font-size: inherit;
    vertical-align: middle;
}
.input {
    width: 100%;
    display: block;
    border: 0;
    border-radius: 0;
    padding: 15px 20px;
    background-color: transparent;
    font-size: 16px;
    float: left;
}
.header {
    margin: auto;
    width: 100%;
    display: block;
    overflow: auto;
    text-align: center;
}
.header.docked {
    position: fixed;
    top: 0px;
    border-bottom: 1px solid #e5e5e5;
background-color: rgba(249,249,249,0.95);
    z-index: 100000;
}

.header#headerhome{
      text-align: center;
}
.searchbtn {
    float: right;
    padding: 9px 20px;
}
.ham {float: left; padding: 9px 20px;}
.nav {
    background-color: white;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px 20px;
}
#homesearch {margin: 0 auto;
  width: 723;}
.main {
    padding: 20px;
}
.logo {
display: inline-block;
    padding: 9px 20px;
}
.description {line-height: 18px; font-size:13px;}
.job {
    padding-bottom: 23px;
}
.jobtitle {
    display: block;
font-size: 18px;
  line-height: 21px;
color: #4183c4;
}
.secondline {
    display: block;
    font-size: 14px;
}
#query {
    background-image: url("http://hiven.github.io/new/img/search.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: transparent;
    font-size: 0;
    display: inline-block;
    height: 35px;
width: 65px;
}
#resultsnav {display: none; float: left;
        width: 100%; text-align: center;}
.btn {padding:8px 20px;   margin: 9px 0px; border: 0; background-color: #4183c4; cursor: pointer; color: white; -webkit-appearance:none; border-radius: 3px;}
@media (min-width: 800px) {
    .logo {float: left; }
    .ham {display: none;}
    #resultsnav {
        display: block; width: auto;
    }
    .searchbtn {
        display: none;
    }
    .input {
        width: 300px;
        display: inline-block;
        margin-right: 20px;
            margin-top: 9px; 
            margin-bottom: 9px;
              padding: 8px 20px;
    } 
    .nav {    padding-left: 100px;}
    .main {    padding-left: 100px; width: 870px;}
}
