html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, em, img, small, strike, strong, sub, sup, tt, var, b, u, i, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td
{
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
html,
body
{
	height: 100%;
}
body
{
	color: #555555;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1;
}
ol, ul, li
{
	list-style: none;
}
table
{
	border-collapse: collapse;
	border-spacing: 0;
}
a
{
	text-decoration: none;
}
*
{
	box-sizing: border-box;
}
input,
select,
textarea,
button
{
	font-family: inherit;
	font-size: inherit;
	vertical-align: middle;
}
input:focus,
select:focus,
textarea:focus,
button:focus
{
	border: 1px solid #B6C2CD;
	outline: none;
}
textarea,
input[type="text"],
input[type="submit"]
{
	webkit-appearance: none;
}
.input
{
	background-color: transparent;
	border: 0;
	border-radius: 0;
	display: block;
	float: left;
	font-size: 16px;
	padding: 15px 20px;
	width: 100%;
}
.results
{
	margin-left: 20px;
	margin-right: 20px;
}
.filter
{
	display: inline-block;
}
.header
{
	display: block;
	margin: auto;
	overflow: auto;
	width: 100%;
}
.header.docked
{
	border-bottom: 1px solid #e5e5e5;
	position: fixed;
	top: 0px;
	z-index: 100000;
}
.footer ul li
{
	display: inline-block;
}
.left
{
	float: left;
}
.right
{
	float: right;
}
.ltgray
{
	background-color: rgba(249, 249, 249, 0.95);
}
#headerhome
{
	margin: 0 auto;
	margin-top: 40px;
}
#headerhome img
{
	display: block;
	margin: 0 auto;
}
#headerhome .hometext
{
	color: #4183C4;
	display: block;
	font-size: 15px;
	margin-bottom: 10px;
	margin-top: 30px;
}
.searchbtn
{
	float: right;
	padding: 9px 20px;
}
.ham
{
	float: left;
	padding: 9px 20px;
}
.nav
{
	background-color: white;
	border-bottom: 1px solid #e5e5e5;
	padding: 15px 20px;
}
.main
{
	padding-top: 56px;
}
.logo
{
	display: inline-block;
	padding: 9px 20px;
}
.description
{
	font-size: 13px;
	line-height: 18px;
}
.job
{
	padding-bottom: 23px;
}
.jobtitle
{
	color: #4183c4;
	display: block;
	font-size: 18px;
	line-height: 21px;
}
.secondline
{
	display: block;
	font-size: 14px;
	line-height: 20px;
}
#query
{
	background-image: url("http://hiven.github.io/new/img/search.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	color: transparent;
	display: inline-block;
	font-size: 0;
	height: 35px;
	width: 65px;
}
#resultsnav
{
	display: none;
	float: left;
	text-align: center;
	width: 100%;
}
.btn
{
	background-color: #4183c4;
	border: 0;
	border-radius: 3px;
	color: white;
	cursor: pointer;
	margin: 9px 0px;
	padding: 8px 20px;
	webkit-appearance: none;
}
.wrapper
{
	height: 100%;
	height: auto !important;
	margin: 0 auto -45px;
	min-height: 100%;
}
.footer
{
	padding: 0 20px;
}
.footer, 
.push
{
	height: 45px;
	line-height: 45px;
}
.click-nav ul
{
	display: inline-block;
	position: relative;
}
.click-nav ul li
{
	cursor: pointer;
	display: inline-block;
	list-style: none;
	margin-right: 20px;
	position: relative;
}
.click-nav ul li ul
{
	background-color: rgba(255,255,255,0.95);
	left: 0;
	position: absolute;
	right: 0;
	width: 160px;
}
.click-nav ul .clicker
{
	color: black;
	position: relative;
}
.click-nav
{
	margin-bottom: 10px;
	margin-left: 20px;
	margin-top: 10px;
}
.click-nav ul li a
{
	background: #FFF;
	color: #333;
	display: block;
	padding: 10px 0px;
	text-decoration: none;
	white-space: nowrap;
}
.click-nav ul li a:hover
{
	color: black;
}
.click-nav .no-js ul
{
	display: none;
}
.click-nav .no-js:hover ul
{
	display: block;
}
@media (min-width: 800px)
{
	#headerhome
	{
		width: 706px;
	}
	.click-nav
	{
		margin-left: 100px;
	}
	.results
	{
		margin-left: 100px;
		margin-right: 0px;
		width: 730px;
	}
	.logo
	{
		float: left;
		margin-left: 20px;
		margin-right: 20px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.ham
	{
		display: none;
	}
	#resultsnav
	{
		display: block;
		width: auto;
	}
	.searchbtn
	{
		display: none;
	}
	.input
	{
		background-color: white;
		border: 1px solid rgb(229, 229, 229);
		border-radius: 3px;
		display: inline-block;
		margin-bottom: 9px;
		margin-right: 20px;
		margin-top: 9px;
		padding: 8px 20px;
		width: 300px;
	}
	.nav
	{
		padding-left: 100px;
	}
}
