* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding-top: 56px;
    color: #555555;
}
input,
select,
textarea,
button {
    font-family: inherit;
    font-size: inherit;
    vertical-align: middle;
}
.input {
    width: 100%;
    display: block;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px 20px;
    background-color: transparent;
    font-size: 16px;
    float: left;
}
.header {
    margin: auto;
    width: 100%;
    display: block;
    overflow: auto;
    text-align: center;
}
.header.docked {
    position: fixed;
    top: 0px;
    border-bottom: 1px solid #e5e5e5;
background-color: rgba(249,249,249,0.95);
    z-index: 100000;
}
.header#headerhome{
      text-align: center;
}
.ltgray { }
.searchbtn {
    float: right;
    padding: 10px 0px;
}
.nav {
    background-color: white;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px 20px;
}

.main {
    padding: 20px;
}
.logo {
display: inline-block;
    padding: 10px 0px;
}
.job {
    padding-bottom: 20px;
}
.jobtitle {
    display: block;
    font-size: 16px;
    line-height: 20px;
}
.secondline {
    display: block;
}
#resultsnav {display: none; float: left;
        width: 100%; text-align: center;}
.btn {padding:10px 20px;   margin: 9px 0px; border: 0; background-color: #E36B51; cursor: pointer; color: white; -webkit-appearance:none; border-radius: 3px;}
@media (min-width: 800px) {
    .logo {float: left;}
    #resultsnav {
        display: block; width: auto;
    }
    .searchbtn {
        display: none;
    }
    .input {
        width: 320px;
        display: inline-block;
        margin-right: 20px;
            margin-top: 9px; 
            margin-bottom: 9px;
              padding: 10px 20px;
    } 
}
