html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important
}
a {color: #1da072;}
body {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
    padding: 0;
  overflow-x: hidden;
}
.work_line_first.animate {
    margin-top: 30px;
    margin-bottom: 15px;
}

li {
    padding: 5px 0px;
}
.FAQ {font-size: 15px;}
.FAQ li { padding: 25px 0px; }
svg {
  height: 150px;
}
#map div {
  cursor: default !important;
}

::selection {
  background: #000;
  color: #fff
}

::-moz-selection {
  background: #000;
  color: #fff
}

html,
body,
.header {
  width: 100%;
  height: 100%;
}
ul {margin: 0;
  padding: 0;}

#navigation {
  height: 80px;
  width: 70%;
  margin: 0 auto
}
.question {
  display: block;
  font-weight: 600;
}
#navigation ul li {
  width: auto;
  float: left;
  display: inline;
  margin-left: 40px
}

#navigation li a {
  font-size: 14px;
  text-align: left;
  color: #1da072;
  text-decoration: none
}

#navigation li a:hover {
  text-decoration: line-through
}

.logo {
  -webkit-animation-duration: .9s;
  animation-duration: .9s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

.navigation {
  line-height: 80px;
  float: right;
  margin: 0 auto;
  -webkit-animation-duration: .9s;
  animation-duration: .9s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: .3s;
  animation-delay: .3s
}

#hero {
  width: 70%;
  position: relative;
  margin: 100px auto;
  display: block;
  text-align: center;
}

.title {
  font-size: 42px;
  text-align: left;
  color: #111;
  -webkit-animation-duration: .9s;
  animation-duration: .9s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: .9s;
  animation-delay: .9s
}

.subtitle {
  color: #666;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-top: 10px;
  max-width: 500px;
  -webkit-animation-duration: .9s;
  animation-duration: .9s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s
}

.animate {
  -webkit-animation-name: animate;
  animation-name: animate
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px)
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0)
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(-40px)
  }
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

@media screen and (max-width:768px) {
  .header {
    width: 100%
  }
  #navigation {
    width: 90%
  }
  #hero {
    width: 90%;
  }
  .title {
    font-size: 60px;
    line-height: 60px
  }
  .subtitle {
    font-size: 16px;
    line-height: 26px;
    max-width: 300px;
    margin-top: 30px
  }
  #navigation ul li {
    margin-left: 40px
  }
}

@media only screen and (min-width :1824px) {
  .logo {
    background-size: 120px 50px;
    width: 120px;
    height: 50px
  }
  #navigation {
    height: 50px;
    width: 60%
  }
  #navigation ul li {
    margin-left: 40px;
    margin-top: -5px
  }
  #navigation li a {
    font-size: 24px
  }
  .header {
    width: 100%;
    margin-top: 1%
  }
  #hero {
    width: 60%;
    margin-top: 400px
  }
  .title {
    font-size: 130px;
    line-height: 60px
  }
  .subtitle {
    font-size: 26px;
    line-height: 34px;
    max-width: 760px;
    margin-top: 80px
  }
}

#selected_work {
  width: 70%;
  position: relative;
  margin: 0 auto;
}

#works a {
  display: block;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease
}

#works:hover a {
  opacity: .2
}

#works:hover .work_line:hover a:hover {
  opacity: 1
}

ul li {
  list-style: none;
}

.times {
  margin-right: 15px;
font-size: 14px;
    color: #1da072;
    font-weight: 200;
}
  


.question { margin-bottom: 10px;}
.question span {display: block;font-weight: 600;}

.work_line,
.work_line_first {
  width: 100%;
  -webkit-animation-duration: .9s;
  animation-duration: .9s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s
}

.work_line a {
  text-decoration: none
}



@media screen and (max-width:768px) {
  #selected_work {
    width: 90%;
    margin-top: 120px
  }

  .project_info,
  .project_title {
    font-size: 16px
  }
}

@media only screen and (min-width :1824px) {
  #selected_work {
    width: 60%;
    margin-top: 380px
  }
  .work_line,
  .work_line_first {
    height: 160px
  }
  .project_info,
  .project_title {
    line-height: 160px;
    font-size: 28px
  }
  .link {
    font-size: 28px
  }
}







#header_work {
  background: #fff;
  width: 100%;
  height: 40px;
  position: fixed;
  margin: 0 auto;
  padding-top: 2%;
  top: 0;
  z-index: 1;
  opacity: .9
}

#work_content {
  max-width: 50%;
  height: 100%;
  position: relative;
  margin: 60px auto 0
}

.work_title {

  font-weight: 600;
  font-size: 72px;
  text-align: left;
  color: #111;
  margin-top: 260px
}

.work_type {
  color: #666;
  text-align: left;

  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin-top: 20px;
  margin-bottom: 240px
}

.process_title {
  font-weight: 600;
  font-size: 24px;
  text-align: left;
  color: #111;
  text-transform: capitalize;
  margin-bottom: 40px
}

.process_text {
  color: #666;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 60px
}

#images {
  max-width: 80%;
  height: 100%;
  position: relative;
  margin: 0 auto
}

#images img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  padding-bottom: 10px
}

.footer_work_back {
  text-align: center;
  padding: 80px 0
}

.work_btn {
  color: #111;
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer
}

.work_btn:hover {
  color: #111;
  text-decoration: line-through
}



.space {
  margin-bottom: 40px
}

@media screen and (max-width:768px) {
  #arrows {
    display: none
  }
  #header_work {
    height: 30px
  }
  #work_content {
    max-width: 90%;
    margin-top: 60px
  }
  .work_title {
    font-size: 60px;
    margin-top: 130px
  }
  .work_type {
    margin-top: 0;
    margin-bottom: 120px
  }
  #images {
    max-width: 100%;
    height: 100%;
    position: relative;
    margin: 20px auto 0
  }
  #images img {
    max-width: 100%
  }

}


@media only screen and (min-width :1824px) {
  #header_work {
    height: 70px;
    padding-top: 1%
  }
  #work_content {
    max-width: 34%
  }
  .work_title {
    font-size: 130px;
    margin-top: 300px
  }
  .work_type {
    font-size: 32px;
    line-height: 44px;
    margin-top: 40px;
    margin-bottom: 300px
  }
  .process_title {
    font-size: 32px
  }
  .process_text {
    font-size: 24px;
    line-height: 42px;
    margin-top: 40px;
    margin-bottom: 120px
  }
  #images {
    max-width: 100%
  }


}
