html,
body,
div,
ul,
li,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}
html {
    -webkit-text-size-adjust: none;
}
body {
    background: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin: 60px 60px 60px 60px;
}
ul {
    list-style-position: inside;
}
.bigitem ul li {
    margin-bottom: 5px;
}
#header {
    margin-bottom: 60px;
    margin-top: 30px;
    align-items: center;
}
#header ul {
    list-style: none;
    text-align: right;
}
#header ul li {
    display: inline-block;
    margin-left: 20px;
}
h1 {
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 15px;
}
h2 {
    margin-bottom: 30px;
    font-size: 18px;
    color: #608381;
    font-weight: 300;
}
h3 {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
}
.time {
    color: #444;
}
.company {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
}
#references {
    text-align: center;
    text-transform: uppercase;
    margin-top: 60px;
}
.flexcontainer {
    display: -webkit-flex;
    display: flex;
}
.item {
    margin-bottom: 30px;
}
.bigitem {
    -webkit-flex: 2 0 0;
    flex: 2 0 0;
}
.smallitem {
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
}
.gray {
    color: #444
}
